<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/media_queries.css"/>
        <link rel="icon" href="img/small-logo.svg" type="image/icon type">

        <title>Bookify</title>
    </head>
    <body>
        <section>
            <div class="container">
                 <div class="header">
                    <a class="logo-link" href="\"><img class="logo" src="img/logo.svg"></a>
                    <a href="/"><button class="search-btn">Search again</button></a>
                 </div>
                 <div class="">
                 <div class="card">
                     <ul class="list-container">
                        <%  data["items"].forEach(function(book){ %>
                         <li><a href="<%= book["volumeInfo"].previewLink %>">
                             <div class="book-info">
                                <div class="info-container">
                                    <img class="icon-img" src="img/reshot-icon-books-XCG3EJ45V6.svg">&nbsp;<strong>Title</strong>: <%= book["volumeInfo"].title %>
                                </div>
                                <div class="info-container">
                                    <img class="icon-img" src="img/reshot-icon-people-collective-GLYF46DNKR.svg">&nbsp;<strong>Authors</strong>: <%= book["volumeInfo"].authors %>
                                </div>
                                <div class="info-container">
                                    <img class="icon-img" src="img/reshot-icon-date-F7CUN5MS4T.svg">&nbsp;<strong>Published Date</strong>: <%= book["volumeInfo"].publishedDate %>
                                </div>
                        <%  })  %>
                             </div>
                            </a>
                        </li>
                       
                     </ul>
                 </div>
                 </div>
            </div>
        </section>
    </body>
</html>
