*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
   background-color: #c6ade7;
}

.body{
background: #654ea3;  
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  
background: linear-gradient(to right, #eaafc8, #654ea3); 
}

.homepage-logo{
   width: 10rem;
   padding: 1rem;
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.container{
   width:80%;
   margin-left: 10%;
   margin-right: auto;
   margin-top: 5%;
   background-color: rgb(233, 230, 230);
   height: auto;
   border-radius:0.5rem;
   box-shadow: 0 0 0.5;
}

.logo{
   width:5rem;
}

.header{
   background-color: #fff;
   height: 5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1rem;
}

.search-btn{
   text-decoration: none;
   border: 1px solid #f76c9a;
   background-color: #f76c9a;
   border-radius: 2rem;
   padding: 0.5rem 1rem;
   margin-left: 2rem;
   color: #fff;
   cursor: pointer;
}


.list-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 100%;
   height: auto;
}

.list-container li{
       display: flex;
       flex-direction: column;
       width: 90%;
       height: auto;
       background-color: #fff;
       border-radius: 3px;
       list-style: none;
       padding:  0.5rem;
       margin: 1rem;
       box-shadow:
       0 2.8px 2.2px rgba(0, 0, 0, 0.022),
       0 6.7px 5.3px rgba(0, 0, 0, 0.034),
       0 12.5px 10px rgba(0, 0, 0, 0.06),
       0 22.3px 17.9px rgba(0, 0, 0, 0.045),
       0 41.8px 33.4px rgba(0, 0, 0, 0.056),
       0 100px 80px rgba(0, 0, 0, 0.12)
}

.list-container a:link,
.list-container a:visited{
   text-decoration: none;
   color: #000;
}

.icon-img{
   width: 2rem;
}

.book-info{
   display: flex;
   flex-direction: column;
}

.info-container{
   padding: 1rem 0.5rem 1rem 0.5rem;
}

/*--HOME PAGE--*/

.grid-of-2{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}


.illustrate-pic{
   width: 80%;
   height: auto;
   margin: 1rem;
}



.search-form input[type=text]{
   width: 60%;
   height: 2.2rem;
   margin-left: 10%;
   margin-top: 2rem;
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
   border: 1px solid #fff;
   text-indent: 1rem;
 }
 
 .search-form button{
     width: 15%;
     height: 2.2rem;
     background-color: #f76c9a;
     border: 1px solid  #f76c9a;
     border-top-right-radius: 2rem;
     border-bottom-right-radius: 2rem;
     margin-left:-10%;
     color: #fff;
     cursor: pointer;
 }

 .heading{
   margin-top: 20%;
   margin-left: 10%;
   font-size: 250%;
   color: #fff;
 }
 

 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }




     
